@import "tailwindcss";
@import "xp.css/dist/XP.css";


/* ====================Global Css ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}


/* ====================Loader Screen ======================= */
@keyframes xp-bar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(240px);
  }
}

.animate-xp-bar {
  animation: xp-bar 1.8s linear infinite;
}

/* ====================Login Screen ======================= */
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5F82DD;
}

.login-card {
  display: flex;
  height: 70%;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.login-card-left img {
  height: 155px;
}

.login-card-right img {
  height: 55px;
  cursor: pointer;

}

.login-card-left,
.login-card-right {
  width: 50%;
  padding: 10px;
}

.login-card-left {
  border-right: 1px solid rgba(252, 252, 252, 0.403);
}

.div-content-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-top,
.login-down {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #1436A5;
  border: 1px solid #1436A5;
}

.login-top {
  top: 0;
}


.login-down {
  bottom: 0;
}


.user-box {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* Smooth animation */
  transition:
    transform 0.25s ease,
    background-color 0.25s ease,
    padding 0.25s ease,
    border-radius 0.25s ease;
}

.user-box:hover {
  transform: scale(1.05);
  /* smoother than scale: 1.1 */
  background-color: rgba(240, 255, 255, 0.6);
  padding: 12px 8px;
  border-radius: 8px;

}


.user-box img {
  border: 1px solid snow;
  border-radius: 5px;
}

.user-box h5 {
  color: snow;
  font-size: medium;
}

.username-text-box {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: light;
  cursor: pointer;
}

.username-text {
  cursor: pointer;

}

.login-text {
  color: snow;
  font-size: medium;
  font-weight: 600;
}

.login-down {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(234, 234, 234);
}

.bottom-tab-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.bottom-tab-left img {
  height: 40px;
}

/* ====================Welcome Screen ======================= */

.welcome-screen{
  border: 1px solid blue;
  background-color: #5F82DD;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.welcome-top,
.welcome-down {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #1436A5;
  border: 1px solid #1436A5;
}

.welcome-top {
  top: 0;
}

.welcome-down {
  bottom: 0;
}

.welcome-text {
  padding: 20px 40px;
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  color: snow;
  font-family: "Arial", sans-serif;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}
