@import "tailwindcss";
@import "xp.css/dist/XP.css";



/* ====================Loader Screen ======================= */
@keyframes xp-bar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(240px);
  }
}

.animate-xp-bar {
  animation: xp-bar 1.8s linear infinite;
}

/* ====================Login Screen ======================= */
/* MAIN CONTAINER */
.login-container {
  height: 100vh;
  width: 100%;
  background: #5f82dd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Trebuchet MS", sans-serif;
}

/* TOP & BOTTOM BLUE BARS */
.login-top,
.login-down {
  height: 12%;
  width: 100%;
  background: #0a2fa2;
}

/* MIDDLE CARD */
.login-card {
  height: 76%;
  width: 60%;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  border-radius: 4px;
}

/* LEFT SIDE */
.login-card-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  color: white;
}

.xp-logo {
  height: 130px;
  margin-bottom: 15px;
}

.login-text {
  font-size: 20px;
  margin-top: 10px;
}

/* RIGHT SIDE */
.login-card-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* USER BOX */
.user-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 25px;
  border-radius: 8px;
  text-align: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.username {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}
